{% extends 'main.html' %}
{% block content %}
<div class="tutorial-container">
    <h2 class="tutorial-title">📝 Tutorial</h2>

    <p class="tutorial-text">
        To upload study material, follow these steps:
    </p>
    <ul class="tutorial-list">
        <li>Click on the <b>"Upload Study Material"</b> button.</li>
        <li>Fill in the form with the required details.</li>
        <li>Attach the PDF file to upload.</li>
        <li>Click the <b>"Upload"</b> button to submit the form.</li>
        <li>The study material will be uploaded successfully.</li>
        <li>You can view the uploaded study materials in the <b>"View Study Materials"</b> section.</li>
        <li>Summary maximum length: <b>10,000 lines</b></li>
        <li>You can edit material (change the PDF and title name).</li>
        <li>You can delete material (that particular data will be permanently deleted).</li>
        <li>You can view your profile and manage your account settings (change password and username).</li>
    </ul>

    <p class="contact-text">
        If you have any questions or need further assistance, please don’t hesitate to contact us.<br>
        📧 Email: <a href="mailto:indranilde92@gmail.com">indranilde92@gmail.com</a>
    </p>
</div>
{% endblock %}

        

